.cart-container {
    position: relative;
    z-index: 1;
    padding: 14px 0 50px;
    background: url(../img/order/bg_refund.jpg) no-repeat center top #f2f2f2;
    min-height:200px;
}
.cart-content{
    width:1200px;
    margin:0 auto;
}
h2.fwn{
    padding: 0 12px;
    font-size: 28px;
    line-height: 72px;
    color: #333;
    font-weight: normal;
    margin-left:20px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
}
thead {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.tablex th {
    background: #fff;
    border-bottom: 1px solid #e0e0e0;
    font-weight: bold;
    font-size: 14px;
    line-height: 72px;
    color: #000;
}
#tbody1 td{
    background: #fff;
    border-bottom: 1px solid #e0e0e0;
    font-weight: normal;
    font-size: 14px;
    line-height: 72px;
    color: #000;
}
td.num>div{
    margin:auto;
    width:80%;
    height:100%;
    position:relative;
    top:-22px;
    left:29px;
}
td.num span{
    display:inline-block;
    width:24px;
    height:24px;
    border:1px solid #bbb;
    background:#e8e8e8;
    text-align:center;
    line-height:24px;
    color:#444;
    float:left;
    margin-top:43px;
    cursor: pointer;
}
.num span.reduce{
    margin-left:32px;
}
.num input{
    width:17px;
    height:24px;
    padding-left:9px;
    font:12px simhei;
    border:1px solid #bbb;
    border-left:none;
    border-right:none;
    float:left;
    margin-top:43px;
}
.cur{
    cursor: pointer;
}
p.all>span.off{
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #e64727;
    background: url(../img/cart/bg_sign11.png) no-repeat;
    margin: 27px 0 0 24px;
}
.selectall{
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #e64727;
    background: url(../img/cart/bg_sign11.png) no-repeat;
    background-position: 0% 92%;
    margin: 27px 0 0 24px;
}
p.one>.off{
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #e64727;
    background: url(../img/cart/bg_sign11.png) no-repeat;
    margin: 27px 0 0 24px;
}
.price-bar {
    height: 55px;
    margin-top: 21px;
    background: #fff;
    font-size: 14px;
    line-height: 55px;
    color: #000;
}
.price-bar p.all span {
    margin: 18px 15px 0 24px;
}
.price-bar a {
    display: inline-block;
    margin-left: 40px;
    color: #000;
    transition: color 0.5s;
}
.price-bar input.submit {
    width: 178px;
    height: 55px;
    border: 0;
    background: #f40;
    margin-left: 35px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}
.price-bar p.rf i {
    display: inline-block;
    padding: 0 6px;
    font-size: 24px;
    color: #f40;
    font-style: italic;
}
.price-bar p.rf em {
    color: #f40;
}
.price-bar p.rf em.totalprices {
    font-size: 24px;
}
